#ASKInput{ 
	border-style:solid; 
	border-width:1px; 
	border-color:#d8a14f;
	height:36px;
	line-height:36px;
	background:#d8a14f;
	color:white;
	border-top-left-radius:10px 10px;
    border-top-right-radius:0px 0px;
    border-bottom-right-radius:0px 0px;
    border-bottom-left-radius:10px 10px;
}

#ASKSelect,#ASKPhoto,#ASKSubmit{ 
	border-style:solid; 
	border-width:1px; 
	border-color:#d8a14f;
	height:36px;
	line-height:36px;
	background:#d8a14f;
	color:white;
	border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;
}

#SelectKeshiCertain{ 
	border-style:solid; 
	border-width:1px; 
	border-color:#d8a14f;
	height:25px;
	line-height:25px;
	background:#d8a14f;
	color:white;
	border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;
}

#SelectKeshiCancel,#UploadPhotoCancel{ 
	border-style:solid; 
	border-width:1px; 
	border-color:#BFBFBF;
	height:25px;
	line-height:25px;
	background: ;
	color:#000000;
	border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;
}

#SelectKeShi,#UploadPhoto { 
    display: none; 
    position: absolute; 
    top: 25%; 
    left: 25%; 
    width: 45%; 
    //height: 60%; 
    padding: 10px; 
    border: 1px solid #d8a14f; 
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
}
