
body,div
{
	font-family: Microsoft Yahei;
	margin:0px;
	padding:0px;
	//min-height:100%;
}

body
{
	min-height:100%;
}

img{
	max-width:95%;
}	
.Introtable
{
	background: #feedd3;
}
.Introtable p
{
	margin:5px auto;
	width:80%;
	max-width:420px;
	font-size: 14px;
	 text-indent:2em
}
.Introtable .title
{

	font-size: 22px;
	font-weight:900;
	display:block;
	margin:10px 0px;
	margin-top:20px;
	color:#744501;
}
.ASKSubmit {
	border-style: solid;
	border-width: 1px;
	border-color: #744501;
	height: 42px;
	line-height: 42px;
	background: #d8a14f;
	color: white;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	margin-right:20px;
}

.ASKSubmit_blue {
	border-style: solid;
	border-width: 1px;
	border-color: #2865e0;
	height: 42px;
	line-height: 42px;
	background: #568eff;
	color: white;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

.ASKSubmit_no {
	border-style: solid;
	border-width: 1px;
	border-color: #989898;
	height: 42px;
	line-height: 42px;
	background: #c9c9c9;
	color: white;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	margin-right:20px;
}
.xuetang_button {
	width: 70%;
	text-align: left;
	padding-left:30px;
}
.listTable{
	border-top: 1px solid #744501;
}
.listTable tr{
	border-bottom: 1px solid #744501;
	height: 50px;
	
}


#mainListLeftButton{

	border-style:solid; 
	border-width:1px; 
	border-color:#744501;
	height:35px;
	line-height:35px;
	background:#d8a14f; 
	color:white;
	border-top-left-radius:10px 10px;
    //border-top-right-radius:10px 10px;
    //border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;	
    
}

#mainListRightButton{

	border-style:solid; 
	border-width:1px; 
	border-color:#744501;
	height:35px;
	line-height:35px;
	background:#d8a14f; 
	color:white;
	//border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    //border-bottom-left-radius:10px 10px;	
    border-left:0;
}

#mainListButton{

	border-style:solid; 
	border-width:1px; 
	border-color:#744501;
	height:35px;
	line-height:35px;
	background:#d8a14f; 
	color:white;
	border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;	
}

#reserveListButton{

	border-style:solid; 
	border-width:1px; 
	border-color:#744501;
	height:35px;
	line-height:35px;
	background:#d8a14f; 
	color:white;
	border-top-left-radius:10px 10px;
    border-top-right-radius:10px 10px;
    border-bottom-right-radius:10px 10px;
    border-bottom-left-radius:10px 10px;	
}
